My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "melonmusk20",
          "mode": "list",
          "cachedResultName": "melonmusk20",
          "cachedResultUrl": "https://github.com/melonmusk20"
        },
        "repository": {
          "__rl": true,
          "value": "Movie-Recommendation-System",
          "mode": "list",
          "cachedResultName": "Movie-Recommendation-System",
          "cachedResultUrl": "https://github.com/melonmusk20/Movie-Recommendation-System"
        },
        "events": [
          "pull_request"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        0
      ],
      "id": "a6e8cdb8-9bd1-41d2-a885-c7c1a754764c",
      "name": "Github Trigger",
      "webhookId": "dd59d5ca-2e9e-4a1b-be69-9deb586b4742",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Y63QNpSEUgl1JCqF",
          "name": "GitHub OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.pull_request.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "29415772-b851-480d-baac-9becf48e54b2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const gh = $input.first().json;\n\n// PR data detect\nconst pr = gh.pull_request || gh.pullRequest || gh;\n\nif (!pr || !pr.title) {\n  throw new Error(\"Pull request data missing. Trigger workflow using a real PR event.\");\n}\n\n// files from HTTP Request\nconst files = $input.all(1)[0]?.json || [];\n\nconst topFiles = (Array.isArray(files) ? files : []).slice(0,10).map(f => {\n  return `FILE: ${f.filename}\nSTATUS: ${f.status}\nADDITIONS: ${f.additions}\nDELETIONS: ${f.deletions}`;\n}).join(\"\\n\\n\");\n\nconst prompt = `\nYou are a senior code reviewer.\n\nPR Title: ${pr.title}\nPR Body: ${pr.body || \"(empty)\"}\n\nChanged Files:\n${topFiles}\n\nGive:\n Please provide a brief code review  comment suggesting improvements,    pointing out issues, or  appreciating good changes \n \n Verdict: Approve / Request changes\n \n`;\n\nreturn [{\n  json: {\n    prompt,\n    pr_number: pr.number,\n    owner: pr.base?.repo?.owner?.login,\n    repo: pr.base?.repo?.name\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "bbad8fbf-303a-4c87-82d3-d2f7d39fe35a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=={{$json.prompt}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "bd09666d-8bbe-4db2-9c94-2e41401b6c92",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "NYKIqNK7qYxpPVe2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "createComment",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "melonmusk20"
        },
        "repository": {
          "__rl": true,
          "value": "Movie-Recommendation-System",
          "mode": "list",
          "cachedResultName": "Movie-Recommendation-System",
          "cachedResultUrl": "https://github.com/melonmusk20/Movie-Recommendation-System"
        },
        "issueNumber": "={{$node[\"Code in JavaScript\"].json.pr_number}}",
        "body": "={{$node[\"Message a model\"].json.content.parts[0].text\n.replace(/\\*\\*/g,\"\")\n.replace(/##/g,\"\")\n}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1184,
        0
      ],
      "id": "c24ddffb-6acd-4708-a278-fc78183ce07d",
      "name": "Create a comment on an issue",
      "webhookId": "22de6953-f1ba-4713-b24e-e734abca7cc4",
      "credentials": {
        "githubOAuth2Api": {
          "id": "Y63QNpSEUgl1JCqF",
          "name": "GitHub OAuth2 API"
        }
      }
    }
  ],
  "pinData": {
    "Github Trigger": [
      {
        "json": {
          "body": {
            "action": "synchronize",
            "number": 1,
            "pull_request": {
              "url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/pulls/1",
              "id": 3358799963,
              "node_id": "PR_kwDOPWyR887IMzhb",
              "html_url": "https://github.com/melonmusk20/Movie-Recommendation-System/pull/1",
              "diff_url": "https://github.com/melonmusk20/Movie-Recommendation-System/pull/1.diff",
              "patch_url": "https://github.com/melonmusk20/Movie-Recommendation-System/pull/1.patch",
              "issue_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/issues/1",
              "number": 1,
              "state": "open",
              "locked": false,
              "title": "Update README.md",
              "user": {
                "login": "melonmusk20",
                "id": 181729737,
                "node_id": "U_kgDOCtT5yQ",
                "avatar_url": "https://avatars.githubusercontent.com/u/181729737?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/melonmusk20",
                "html_url": "https://github.com/melonmusk20",
                "followers_url": "https://api.github.com/users/melonmusk20/followers",
                "following_url": "https://api.github.com/users/melonmusk20/following{/other_user}",
                "gists_url": "https://api.github.com/users/melonmusk20/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/melonmusk20/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/melonmusk20/subscriptions",
                "organizations_url": "https://api.github.com/users/melonmusk20/orgs",
                "repos_url": "https://api.github.com/users/melonmusk20/repos",
                "events_url": "https://api.github.com/users/melonmusk20/events{/privacy}",
                "received_events_url": "https://api.github.com/users/melonmusk20/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "body": null,
              "created_at": "2026-03-05T13:25:39Z",
              "updated_at": "2026-03-06T18:47:48Z",
              "closed_at": null,
              "merged_at": null,
              "merge_commit_sha": "d355d100f60cc7270e0252be1d3e8d9c9515a8cd",
              "assignees": [],
              "requested_reviewers": [],
              "requested_teams": [],
              "labels": [],
              "milestone": null,
              "draft": false,
              "commits_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/pulls/1/commits",
              "review_comments_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/pulls/1/comments",
              "review_comment_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/pulls/comments{/number}",
              "comments_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/issues/1/comments",
              "statuses_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/statuses/fd227592e63c76d6ed538084e210b1947e737635",
              "head": {
                "label": "melonmusk20:test",
                "ref": "test",
                "sha": "fd227592e63c76d6ed538084e210b1947e737635",
                "user": {
                  "login": "melonmusk20",
                  "id": 181729737,
                  "node_id": "U_kgDOCtT5yQ",
                  "avatar_url": "https://avatars.githubusercontent.com/u/181729737?v=4",
                  "gravatar_id": "",
                  "url": "https://api.github.com/users/melonmusk20",
                  "html_url": "https://github.com/melonmusk20",
                  "followers_url": "https://api.github.com/users/melonmusk20/followers",
                  "following_url": "https://api.github.com/users/melonmusk20/following{/other_user}",
                  "gists_url": "https://api.github.com/users/melonmusk20/gists{/gist_id}",
                  "starred_url": "https://api.github.com/users/melonmusk20/starred{/owner}{/repo}",
                  "subscriptions_url": "https://api.github.com/users/melonmusk20/subscriptions",
                  "organizations_url": "https://api.github.com/users/melonmusk20/orgs",
                  "repos_url": "https://api.github.com/users/melonmusk20/repos",
                  "events_url": "https://api.github.com/users/melonmusk20/events{/privacy}",
                  "received_events_url": "https://api.github.com/users/melonmusk20/received_events",
                  "type": "User",
                  "user_view_type": "public",
                  "site_admin": false
                },
                "repo": {
                  "id": 1030525427,
                  "node_id": "R_kgDOPWyR8w",
                  "name": "Movie-Recommendation-System",
                  "full_name": "melonmusk20/Movie-Recommendation-System",
                  "private": false,
                  "owner": {
                    "login": "melonmusk20",
                    "id": 181729737,
                    "node_id": "U_kgDOCtT5yQ",
                    "avatar_url": "https://avatars.githubusercontent.com/u/181729737?v=4",
                    "gravatar_id": "",
                    "url": "https://api.github.com/users/melonmusk20",
                    "html_url": "https://github.com/melonmusk20",
                    "followers_url": "https://api.github.com/users/melonmusk20/followers",
                    "following_url": "https://api.github.com/users/melonmusk20/following{/other_user}",
                    "gists_url": "https://api.github.com/users/melonmusk20/gists{/gist_id}",
                    "starred_url": "https://api.github.com/users/melonmusk20/starred{/owner}{/repo}",
                    "subscriptions_url": "https://api.github.com/users/melonmusk20/subscriptions",
                    "organizations_url": "https://api.github.com/users/melonmusk20/orgs",
                    "repos_url": "https://api.github.com/users/melonmusk20/repos",
                    "events_url": "https://api.github.com/users/melonmusk20/events{/privacy}",
                    "received_events_url": "https://api.github.com/users/melonmusk20/received_events",
                    "type": "User",
                    "user_view_type": "public",
                    "site_admin": false
                  },
                  "html_url": "https://github.com/melonmusk20/Movie-Recommendation-System",
                  "description": "Top 10 recommendations based on your selected movie",
                  "fork": false,
                  "url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System",
                  "forks_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/forks",
                  "keys_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/keys{/key_id}",
                  "collaborators_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/collaborators{/collaborator}",
                  "teams_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/teams",
                  "hooks_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/hooks",
                  "issue_events_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/issues/events{/number}",
                  "events_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/events",
                  "assignees_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/assignees{/user}",
                  "branches_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/branches{/branch}",
                  "tags_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/tags",
                  "blobs_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/blobs{/sha}",
                  "git_tags_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/tags{/sha}",
                  "git_refs_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/refs{/sha}",
                  "trees_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/trees{/sha}",
                  "statuses_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/statuses/{sha}",
                  "languages_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/languages",
                  "stargazers_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/stargazers",
                  "contributors_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/contributors",
                  "subscribers_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/subscribers",
                  "subscription_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/subscription",
                  "commits_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/commits{/sha}",
                  "git_commits_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/commits{/sha}",
                  "comments_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/comments{/number}",
                  "issue_comment_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/issues/comments{/number}",
                  "contents_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/contents/{+path}",
                  "compare_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/compare/{base}...{head}",
                  "merges_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/merges",
                  "archive_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/{archive_format}{/ref}",
                  "downloads_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/downloads",
                  "issues_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/issues{/number}",
                  "pulls_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/pulls{/number}",
                  "milestones_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/milestones{/number}",
                  "notifications_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/notifications{?since,all,participating}",
                  "labels_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/labels{/name}",
                  "releases_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/releases{/id}",
                  "deployments_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/deployments",
                  "created_at": "2025-08-01T19:43:40Z",
                  "updated_at": "2025-08-02T11:41:07Z",
                  "pushed_at": "2026-03-06T18:47:47Z",
                  "git_url": "git://github.com/melonmusk20/Movie-Recommendation-System.git",
                  "ssh_url": "git@github.com:melonmusk20/Movie-Recommendation-System.git",
                  "clone_url": "https://github.com/melonmusk20/Movie-Recommendation-System.git",
                  "svn_url": "https://github.com/melonmusk20/Movie-Recommendation-System",
                  "homepage": null,
                  "size": 55,
                  "stargazers_count": 0,
                  "watchers_count": 0,
                  "language": "Jupyter Notebook",
                  "has_issues": true,
                  "has_projects": true,
                  "has_downloads": true,
                  "has_wiki": true,
                  "has_pages": false,
                  "has_discussions": false,
                  "forks_count": 0,
                  "mirror_url": null,
                  "archived": false,
                  "disabled": false,
                  "open_issues_count": 1,
                  "license": null,
                  "allow_forking": true,
                  "is_template": false,
                  "web_commit_signoff_required": false,
                  "has_pull_requests": true,
                  "pull_request_creation_policy": "all",
                  "topics": [],
                  "visibility": "public",
                  "forks": 0,
                  "open_issues": 1,
                  "watchers": 0,
                  "default_branch": "main",
                  "allow_squash_merge": true,
                  "allow_merge_commit": true,
                  "allow_rebase_merge": true,
                  "allow_auto_merge": false,
                  "delete_branch_on_merge": false,
                  "allow_update_branch": false,
                  "use_squash_pr_title_as_default": false,
                  "squash_merge_commit_message": "COMMIT_MESSAGES",
                  "squash_merge_commit_title": "COMMIT_OR_PR_TITLE",
                  "merge_commit_message": "PR_TITLE",
                  "merge_commit_title": "MERGE_MESSAGE"
                }
              },
              "base": {
                "label": "melonmusk20:main",
                "ref": "main",
                "sha": "74ccdbb04569d1bf283298a3d892f2f63261a2da",
                "user": {
                  "login": "melonmusk20",
                  "id": 181729737,
                  "node_id": "U_kgDOCtT5yQ",
                  "avatar_url": "https://avatars.githubusercontent.com/u/181729737?v=4",
                  "gravatar_id": "",
                  "url": "https://api.github.com/users/melonmusk20",
                  "html_url": "https://github.com/melonmusk20",
                  "followers_url": "https://api.github.com/users/melonmusk20/followers",
                  "following_url": "https://api.github.com/users/melonmusk20/following{/other_user}",
                  "gists_url": "https://api.github.com/users/melonmusk20/gists{/gist_id}",
                  "starred_url": "https://api.github.com/users/melonmusk20/starred{/owner}{/repo}",
                  "subscriptions_url": "https://api.github.com/users/melonmusk20/subscriptions",
                  "organizations_url": "https://api.github.com/users/melonmusk20/orgs",
                  "repos_url": "https://api.github.com/users/melonmusk20/repos",
                  "events_url": "https://api.github.com/users/melonmusk20/events{/privacy}",
                  "received_events_url": "https://api.github.com/users/melonmusk20/received_events",
                  "type": "User",
                  "user_view_type": "public",
                  "site_admin": false
                },
                "repo": {
                  "id": 1030525427,
                  "node_id": "R_kgDOPWyR8w",
                  "name": "Movie-Recommendation-System",
                  "full_name": "melonmusk20/Movie-Recommendation-System",
                  "private": false,
                  "owner": {
                    "login": "melonmusk20",
                    "id": 181729737,
                    "node_id": "U_kgDOCtT5yQ",
                    "avatar_url": "https://avatars.githubusercontent.com/u/181729737?v=4",
                    "gravatar_id": "",
                    "url": "https://api.github.com/users/melonmusk20",
                    "html_url": "https://github.com/melonmusk20",
                    "followers_url": "https://api.github.com/users/melonmusk20/followers",
                    "following_url": "https://api.github.com/users/melonmusk20/following{/other_user}",
                    "gists_url": "https://api.github.com/users/melonmusk20/gists{/gist_id}",
                    "starred_url": "https://api.github.com/users/melonmusk20/starred{/owner}{/repo}",
                    "subscriptions_url": "https://api.github.com/users/melonmusk20/subscriptions",
                    "organizations_url": "https://api.github.com/users/melonmusk20/orgs",
                    "repos_url": "https://api.github.com/users/melonmusk20/repos",
                    "events_url": "https://api.github.com/users/melonmusk20/events{/privacy}",
                    "received_events_url": "https://api.github.com/users/melonmusk20/received_events",
                    "type": "User",
                    "user_view_type": "public",
                    "site_admin": false
                  },
                  "html_url": "https://github.com/melonmusk20/Movie-Recommendation-System",
                  "description": "Top 10 recommendations based on your selected movie",
                  "fork": false,
                  "url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System",
                  "forks_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/forks",
                  "keys_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/keys{/key_id}",
                  "collaborators_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/collaborators{/collaborator}",
                  "teams_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/teams",
                  "hooks_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/hooks",
                  "issue_events_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/issues/events{/number}",
                  "events_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/events",
                  "assignees_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/assignees{/user}",
                  "branches_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/branches{/branch}",
                  "tags_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/tags",
                  "blobs_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/blobs{/sha}",
                  "git_tags_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/tags{/sha}",
                  "git_refs_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/refs{/sha}",
                  "trees_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/trees{/sha}",
                  "statuses_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/statuses/{sha}",
                  "languages_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/languages",
                  "stargazers_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/stargazers",
                  "contributors_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/contributors",
                  "subscribers_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/subscribers",
                  "subscription_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/subscription",
                  "commits_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/commits{/sha}",
                  "git_commits_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/commits{/sha}",
                  "comments_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/comments{/number}",
                  "issue_comment_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/issues/comments{/number}",
                  "contents_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/contents/{+path}",
                  "compare_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/compare/{base}...{head}",
                  "merges_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/merges",
                  "archive_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/{archive_format}{/ref}",
                  "downloads_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/downloads",
                  "issues_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/issues{/number}",
                  "pulls_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/pulls{/number}",
                  "milestones_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/milestones{/number}",
                  "notifications_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/notifications{?since,all,participating}",
                  "labels_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/labels{/name}",
                  "releases_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/releases{/id}",
                  "deployments_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/deployments",
                  "created_at": "2025-08-01T19:43:40Z",
                  "updated_at": "2025-08-02T11:41:07Z",
                  "pushed_at": "2026-03-06T18:47:47Z",
                  "git_url": "git://github.com/melonmusk20/Movie-Recommendation-System.git",
                  "ssh_url": "git@github.com:melonmusk20/Movie-Recommendation-System.git",
                  "clone_url": "https://github.com/melonmusk20/Movie-Recommendation-System.git",
                  "svn_url": "https://github.com/melonmusk20/Movie-Recommendation-System",
                  "homepage": null,
                  "size": 55,
                  "stargazers_count": 0,
                  "watchers_count": 0,
                  "language": "Jupyter Notebook",
                  "has_issues": true,
                  "has_projects": true,
                  "has_downloads": true,
                  "has_wiki": true,
                  "has_pages": false,
                  "has_discussions": false,
                  "forks_count": 0,
                  "mirror_url": null,
                  "archived": false,
                  "disabled": false,
                  "open_issues_count": 1,
                  "license": null,
                  "allow_forking": true,
                  "is_template": false,
                  "web_commit_signoff_required": false,
                  "has_pull_requests": true,
                  "pull_request_creation_policy": "all",
                  "topics": [],
                  "visibility": "public",
                  "forks": 0,
                  "open_issues": 1,
                  "watchers": 0,
                  "default_branch": "main",
                  "allow_squash_merge": true,
                  "allow_merge_commit": true,
                  "allow_rebase_merge": true,
                  "allow_auto_merge": false,
                  "delete_branch_on_merge": false,
                  "allow_update_branch": false,
                  "use_squash_pr_title_as_default": false,
                  "squash_merge_commit_message": "COMMIT_MESSAGES",
                  "squash_merge_commit_title": "COMMIT_OR_PR_TITLE",
                  "merge_commit_message": "PR_TITLE",
                  "merge_commit_title": "MERGE_MESSAGE"
                }
              },
              "_links": {
                "self": {
                  "href": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/pulls/1"
                },
                "html": {
                  "href": "https://github.com/melonmusk20/Movie-Recommendation-System/pull/1"
                },
                "issue": {
                  "href": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/issues/1"
                },
                "comments": {
                  "href": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/issues/1/comments"
                },
                "review_comments": {
                  "href": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/pulls/1/comments"
                },
                "review_comment": {
                  "href": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/pulls/comments{/number}"
                },
                "commits": {
                  "href": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/pulls/1/commits"
                },
                "statuses": {
                  "href": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/statuses/fd227592e63c76d6ed538084e210b1947e737635"
                }
              },
              "author_association": "OWNER",
              "auto_merge": null,
              "assignee": null,
              "active_lock_reason": null,
              "merged": false,
              "mergeable": null,
              "rebaseable": null,
              "mergeable_state": "unknown",
              "merged_by": null,
              "comments": 4,
              "review_comments": 0,
              "maintainer_can_modify": false,
              "commits": 9,
              "additions": 9,
              "deletions": 9,
              "changed_files": 1
            },
            "before": "4d400fc4924185007196a34290cbe5a8c514b3f3",
            "after": "fd227592e63c76d6ed538084e210b1947e737635",
            "repository": {
              "id": 1030525427,
              "node_id": "R_kgDOPWyR8w",
              "name": "Movie-Recommendation-System",
              "full_name": "melonmusk20/Movie-Recommendation-System",
              "private": false,
              "owner": {
                "login": "melonmusk20",
                "id": 181729737,
                "node_id": "U_kgDOCtT5yQ",
                "avatar_url": "https://avatars.githubusercontent.com/u/181729737?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/melonmusk20",
                "html_url": "https://github.com/melonmusk20",
                "followers_url": "https://api.github.com/users/melonmusk20/followers",
                "following_url": "https://api.github.com/users/melonmusk20/following{/other_user}",
                "gists_url": "https://api.github.com/users/melonmusk20/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/melonmusk20/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/melonmusk20/subscriptions",
                "organizations_url": "https://api.github.com/users/melonmusk20/orgs",
                "repos_url": "https://api.github.com/users/melonmusk20/repos",
                "events_url": "https://api.github.com/users/melonmusk20/events{/privacy}",
                "received_events_url": "https://api.github.com/users/melonmusk20/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "html_url": "https://github.com/melonmusk20/Movie-Recommendation-System",
              "description": "Top 10 recommendations based on your selected movie",
              "fork": false,
              "url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System",
              "forks_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/forks",
              "keys_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/keys{/key_id}",
              "collaborators_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/collaborators{/collaborator}",
              "teams_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/teams",
              "hooks_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/hooks",
              "issue_events_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/issues/events{/number}",
              "events_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/events",
              "assignees_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/assignees{/user}",
              "branches_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/branches{/branch}",
              "tags_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/tags",
              "blobs_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/blobs{/sha}",
              "git_tags_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/tags{/sha}",
              "git_refs_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/refs{/sha}",
              "trees_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/trees{/sha}",
              "statuses_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/statuses/{sha}",
              "languages_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/languages",
              "stargazers_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/stargazers",
              "contributors_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/contributors",
              "subscribers_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/subscribers",
              "subscription_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/subscription",
              "commits_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/commits{/sha}",
              "git_commits_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/git/commits{/sha}",
              "comments_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/comments{/number}",
              "issue_comment_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/issues/comments{/number}",
              "contents_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/contents/{+path}",
              "compare_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/compare/{base}...{head}",
              "merges_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/merges",
              "archive_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/{archive_format}{/ref}",
              "downloads_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/downloads",
              "issues_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/issues{/number}",
              "pulls_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/pulls{/number}",
              "milestones_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/milestones{/number}",
              "notifications_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/notifications{?since,all,participating}",
              "labels_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/labels{/name}",
              "releases_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/releases{/id}",
              "deployments_url": "https://api.github.com/repos/melonmusk20/Movie-Recommendation-System/deployments",
              "created_at": "2025-08-01T19:43:40Z",
              "updated_at": "2025-08-02T11:41:07Z",
              "pushed_at": "2026-03-06T18:47:47Z",
              "git_url": "git://github.com/melonmusk20/Movie-Recommendation-System.git",
              "ssh_url": "git@github.com:melonmusk20/Movie-Recommendation-System.git",
              "clone_url": "https://github.com/melonmusk20/Movie-Recommendation-System.git",
              "svn_url": "https://github.com/melonmusk20/Movie-Recommendation-System",
              "homepage": null,
              "size": 55,
              "stargazers_count": 0,
              "watchers_count": 0,
              "language": "Jupyter Notebook",
              "has_issues": true,
              "has_projects": true,
              "has_downloads": true,
              "has_wiki": true,
              "has_pages": false,
              "has_discussions": false,
              "forks_count": 0,
              "mirror_url": null,
              "archived": false,
              "disabled": false,
              "open_issues_count": 1,
              "license": null,
              "allow_forking": true,
              "is_template": false,
              "web_commit_signoff_required": false,
              "has_pull_requests": true,
              "pull_request_creation_policy": "all",
              "topics": [],
              "visibility": "public",
              "forks": 0,
              "open_issues": 1,
              "watchers": 0,
              "default_branch": "main"
            },
            "sender": {
              "login": "melonmusk20",
              "id": 181729737,
              "node_id": "U_kgDOCtT5yQ",
              "avatar_url": "https://avatars.githubusercontent.com/u/181729737?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/melonmusk20",
              "html_url": "https://github.com/melonmusk20",
              "followers_url": "https://api.github.com/users/melonmusk20/followers",
              "following_url": "https://api.github.com/users/melonmusk20/following{/other_user}",
              "gists_url": "https://api.github.com/users/melonmusk20/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/melonmusk20/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/melonmusk20/subscriptions",
              "organizations_url": "https://api.github.com/users/melonmusk20/orgs",
              "repos_url": "https://api.github.com/users/melonmusk20/repos",
              "events_url": "https://api.github.com/users/melonmusk20/events{/privacy}",
              "received_events_url": "https://api.github.com/users/melonmusk20/received_events",
              "type": "User",
              "user_view_type": "public",
              "site_admin": false
            }
          },
          "headers": {
            "host": "melonm.app.n8n.cloud",
            "user-agent": "GitHub-Hookshot/1cdf727",
            "content-length": "25462",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "140.82.115.9",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9d8387f96947596e-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "140.82.115.9, 172.70.35.179",
            "x-forwarded-host": "melonm.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-22-dcd6466ff-tltfn",
            "x-github-delivery": "f8cee320-198c-11f1-803a-9e1d58b98728",
            "x-github-event": "pull_request",
            "x-github-hook-id": "599379222",
            "x-github-hook-installation-target-id": "1030525427",
            "x-github-hook-installation-target-type": "repository",
            "x-hub-signature": "sha1=bfe51a474159631abded1ac5d344144b076692b0",
            "x-hub-signature-256": "sha256=73fc1fb212e459adaa4c64795d7d6c8d6283d49c56ec32de2f1ff90b160dce96",
            "x-is-trusted": "yes",
            "x-real-ip": "140.82.115.9"
          },
          "query": {}
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a comment on an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "28d2cba2-f945-4fd5-a340-29fcb570934d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4cd4c53cd8160f2c74a97aaa9dc50ac2bb96d39d14c0f00aeb9005ecc405641"
  },
  "id": "jyFTMA1t2BHRWK5Q",
  "tags": []
}